matplotlib==3.3.4
scipy==1.6.2
tensorboard==2.6.0
torch==1.9.0
ray==1.6.0
pycocotools==2.0.2
requests==2.25.1
tqdm==4.59.0
google_images_download==2.8.0
numpy==1.20.1
torchvision==0.10.0
pandas==1.2.4
fuzzywuzzy==0.18.0
Pillow==8.3.2
pytesseract==0.3.8
scikit_learn==0.24.2
